<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/http_error_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stegosaurus: {{ err_code }} Error!</title>
  </head>
  <body>
    
    <h1>
      Stegosaurus <span class="online-span">.online</span>
    </h1>

    <!-- Jinja2 render based on current error code -->
    {% if err_code_known %}
        <h2>
          Steggy says that's a <span style="font-family: Arial;">{{ err_code }}</span> error!
        </h2>
    {% else %}
        <h2>
          Steggy says that's an unknown error! (code {{ err_code }})
        </h2>
    {% endif %}

    <p>
          {{ err_desc }}
    </p>
    
    <p>
      Click <a href="/">here</a> to try this again...
    </p>
    
    <img src="{{ url_for('static', filename='img/steggy.png') }}" class="steggy">
    
  </body>
</html>