body {
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%);
text-align: center;
justify-content: center;
}

h1{
  size: 20pt;
  font-family: Arial;
  letter-spacing: 0.01em;
  text-align: center;
}

p{
  size: 14pt;
  font-family: Arial;
  letter-spacing: 0.05em;
  text-align: center;
}

.online-span{
  font-size: 8pt;
  font-style: italic;
}

img.steggy {
  width: 90%;
}

iframe {
  padding-top: 5%;
}