@font-face {
  font-family: Dino;
  src: url(../fonts/dino.ttf);
}

body {
  background: linear-gradient(45deg, rgba(255,255,255,1) 40%, rgba(139,139,139,1) 100%);
  text-align: center;
  justify-content: center;
}

h1{
  font-size: 800%;
  font-family: Dino;
  letter-spacing: 0.05em;
  text-align: center;
}

h2{
  font-size: 300%;
  font-family: Arial;
  text-align: center;
}

p{
  font-size: 200%;
  font-family: Arial;
  text-align: center;
}

a {
  font-weight: bold;
}

.online-span{
  font-size: 50%;
  font-style: italic;
}

img.steggy {
  width: 80%;
  margin-left: -80%;
}

iframe {
  padding-top: 5%;
}